# Google Gemini API (pro generování receptů)
GEMINI_API_KEY=vase_gemini_api_key_zde

# Stripe API (pro platby)
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...


PORT=3001
FRONTEND_URL=http://localhost:8092
DB_PATH=./server/db/db.json
SESSION_SECRET=yo-taste-very-secret-key-change-me